:root {
    --bg-color:#fff;
    --primary-color:#ca610c;
    --secondary-color:#1f1c1c;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    font-size: 16px; /* Tamaño de fuente base */
    line-height: 1.6; /* Espaciado entre líneas */
    
}


header {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position: fixed; */
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--bg-color);
    text-decoration: none;
    padding: 10px 15px; /* Espaciado uniforme para enlaces */
    transition: background-color 0.3s ease; /* Transición de 0.3 segundos */
}
nav ul li a:hover {
    color: var(--primary-color);
}

.body-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-inicio {
    width: 100%; /* Ocupa todo el ancho del body */
}

.section-inicio {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Opcional: Alinea el contenido de la sección en columna */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Añade un poco de espacio alrededor del contenido */
    background-image: url('img/imagen-inicio.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}
.saludo-inicio img {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: 150px; /* Asegúrate de que la altura sea igual al ancho para mantener la forma circular */
    border-radius: 50%; /* Esto hará que la imagen sea circular */
    object-fit: cover; /*Esto asegura que la imagen se recorte para llenar el contenedor sin distorsionar*/
    border: 2px solid var(--primary-color); /* Opcional: Añade un borde blanco alrededor de la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: Añade una sombra para darle un efecto de elevación */
}

.saludo-inicio h2 {
    color: var(--primary-color);
}

.saludo-inicio {
    color: var(--bg-color);
}


/* Estilo para la sección About */
.about-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 20px;
}

.about-img {
    flex: 1;
    margin: 10px;
}
.about-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.about-section h1 {
    font-size: 3vw;
    margin-bottom: 2vw;
    color:var(--primary-color);
}

.about-section p {
    margin-bottom: 1.5vw;
    color: var(--bg-color);
}

.about-description {
    flex: 1;
}

.about-description h2 {
    color: var(--primary-color);
}

.about-description ul {
    color: var(--bg-color);
}
.about-section ul {
    list-style: none;
    padding-left: 0;
}

.about-section ul li {
    position: relative; /* Añadido para posicionar el icono */
    padding-left: 2vw; /* Aumentado para espacio adicional */
    margin-bottom: 1vw;
}

.about-section ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1vw;
    height: 1vw;
    background: var(--primary-color);
    border-radius: 50%;
}

.about-hab ul {
    display: flex;
    justify-content: space-around; /* Para distribuir las habilidades horizontalmente */
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 5vw;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 2vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

.social-links i {
    font-size: 1.5em;
}

/* Estilo para la sección de proyectos*/
.projects-section {
    padding: 25px 25px;
    background-color: var(--secondary-color);
    
}

.project {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 0 0 30%; /* Para que los proyectos ocupen un ancho fijo y se ajusten automáticamente en función del espacio disponible */
    margin: 0 15px; /* Espacio entre proyectos */
    
}

.title-projects {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--bg-color);
}

.project h3 {
    margin-top: 0;
    font-size: 24px;
    color: var(--primary-color);
}

.project h4 {
    margin-top: 0;
    font-size: 24px;
    color: var(--primary-color);
}

.project p {
    color: var(--bg-color);
    font-size: 14px;
    margin-bottom: 10px;
}

.project ul {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: disc;
    color: var(--bg-color);
}

/* Estilo para la sección de contacto */
#contact {
    background-image: url(img/section-contact.jpeg);
    background-color: var(--secondary-color);
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in-out;
}

#contact h1 {
    margin-bottom: 20px; 
    color: #fff;
}

#contact p {
    margin-bottom: 30px;
    color: #ccc;
}

#formContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control label {
    margin-bottom: 5px;
    color: #fff;
}

.form-control input,
.form-control textarea,
.form-control select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-control select {
    appearance: none; /* Quitar estilos del selector */
}

.error {
    color: red; /* Color del mensaje de error */
    margin-top: 5px; /* Espaciado superior */
}

button[type="submit"] {
    padding: 15px 50px; /* Reducido el padding para que el botón no sea demasiado grande */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* Convertido a bloque para ocupar todo el ancho del contenedor */
    margin: 0 auto; /* Margen automático para centrar horizontalmente */
}

button[type="submit"]:hover {
    background-color: var(--primary-color);
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el cursor */
}

footer {
    background-color: var(--secondary-color);
    padding: 10px 20px;
    margin-top: auto;
    color: var(--bg-color);
    text-align: center;
    /* position: fixed; */
    width: 100%;

}
/* Efecto de movimiento al pasar el ratón */
.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px var(--primary-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* ------------------------------------     MEDIA QUERIES (PUNTOS DE QUIEBRE) -------------------------------------*/


/* Estilos para PC escritorio */
@media screen and (min-width: 1024px) {
    body {
        font-size: 16px; /* Tamaño de letra base */
    }

    section h2 {
        font-size: 24px; /* Tamaño de título de sección */
    }

    section p {
        font-size: 16px; /* Tamaño de texto */
    }

    .project h1 {
        font-size: 24px; /* Tamaño de título de proyecto */
    }

    .project p {
        font-size: 14px; /* Tamaño de texto de proyecto */
    }

    #contact h1 {
        font-size: 2em; /* Tamaño de título de contacto */
    }

    #contact p {
        font-size: 1em; /* Tamaño de texto de contacto */
    }
}

/* Estilos para tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 14px; /* Tamaño de letra para tablet */
    }

    section h2 {
        font-size: 22px; /* Tamaño de título de sección para tablet */
    }

    section p {
        font-size: 14px; /* Tamaño de texto para tablet */
    }

    .project h1 {
        font-size: 22px; /* Tamaño de título de proyecto para tablet */
    }

    .project p {
        font-size: 12px; /* Tamaño de texto de proyecto para tablet */
    }

    #contact h1 {
        font-size: 1.8em; /* Tamaño de título de contacto para tablet */
    }

    #contact p {
        font-size: 0.9em; /* Tamaño de texto de contacto para tablet */
    }
}

/* Estilos para celular */
@media screen and (max-width: 767px) {
    body {
        font-size: 12px; /* Tamaño de letra para celular */
    }

    section h2 {
        font-size: 20px; /* Tamaño de título de sección para celular */
    }

    section p {
        font-size: 12px; /* Tamaño de texto para celular */
    }

    .project h1 {
        font-size: 20px; /* Tamaño de título de proyecto para celular */
    }

    .project p {
        font-size: 10px; /* Tamaño de texto de proyecto para celular */
    }

    #contact h1 {
        font-size: 1.6em; /* Tamaño de título de contacto para celular */
    }

    #contact p {
        font-size: 0.8em; /* Tamaño de texto de contacto para celular */
    }
}